# Archivos de datos grandes
Datos/
training_data.parquet

# Artefactos del modelo
*.pkl

# Archivos de entorno y caché de Python
__pycache__/
*.pyc
.env
.venv
venv/

# Archivos de Jupyter Notebook
.ipynb_checkpoints